body {
    margin: 0;
    display: flex;
    height: 100vh;
}

#left, #right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#left {
    background-color:antiquewhite;
    border-right: 1px solid black;
}

#right {
      background-image:url("aula1.PNG") ;
}
label{
    margin-left: -450px;
    color: black !important; 
}
input
{
    padding: 5px;
}