body {
    margin: 0;
    display: flex;
    height: 100vh;
}

#left, #right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#left {
    background-color:antiquewhite;
    border-right: 1px solid black;
}

#right {
      background-image:url("aula1.PNG");
      background-color:antiquewhite;
      background-repeat: no-repeat;
}
label{
    color: black !important; 
}
input
{
    padding: 5px;
}
td{
    border: 2px solid black;
    width: 13px;
    height: 13px;
}